# 4.5 Data Consistency Checks

## Contents
### Importing Libraries
### Importing Data
### Path to Storage

### Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as mp
import os

### Importing Data

In [3]:
# importing products and orders csv
df_prods = pd.read_csv(r'C:\Users\ihs10539\Achievement 4 Project\02_Data\02.01_Original Data\products.csv', index_col = False)
df_ords = pd.read_csv(r'C:\Users\ihs10539\Achievement 4 Project\02_Data\02.02_Prepared Data\4.4_Task_orders_wrangled.csv', index_col = False)

### Path to Storage

In [41]:
# Path to storage location
path = r'C:\Users\ihs10539\Achievement 4 Project'

In [5]:
# Create a Dataframe
df_test = pd.DataFrame()

In [7]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [9]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [13]:
# Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [15]:
# change mix column to string
df_test['mix'] = df_test['mix'].astype('str')

In [17]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [19]:
# viewing missing 16 values under product_name
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [21]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [25]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [27]:
df_prods_clean.shape

(49677, 5)

In [29]:
# creates new dataframe to utilize duplicated() function to identify duplicate rows
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [31]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [33]:
# one last verification before dropping duplicates
df_prods_clean.shape

(49677, 5)

In [35]:
# fuction to drop duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [37]:
# verification duplicates were dropped
df_prods_clean_no_dups.shape

(49672, 5)

In [43]:
# exporting new prods csv to Prepared Data folder
df_prods_clean_no_dups.to_csv(os.path.join(path, '02_Data', '02.02_Prepared Data', '4.5_products_checked.csv'))