# 4.6 Combining & Exporting Data

## Contents
### Importing Libraries
### Importing Data
### Path to Storage
### MAIN
### Export

### Importing Libraries

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import os

### Importing Data

In [7]:
# importing products and orders csv
df_ords_prior = pd.read_csv(r'C:\Users\ihs10539\Achievement 4 Project\02_Data\02.01_Original Data\orders_products_prior.csv', index_col = False)
df_ords_checked = pd.read_csv(r'C:\Users\ihs10539\Achievement 4 Project\02_Data\02.02_Prepared Data\4.5_Task_orders_checked.csv', index_col = False)

### Path to Storage

In [9]:
# Path to storage location
path = r'C:\Users\ihs10539\Achievement 4 Project'

# MAIN

In [11]:
df_ords_checked.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [15]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
# Dimensions of df_ords_prior to compare
df_ords_prior.shape

(32434489, 4)

In [19]:
# Dimensions of df_ords_prior to compare
df_ords_checked.shape

(3421083, 8)

In [21]:
# inner merge function
df_merge_large = df_ords_checked.merge(df_ords_prior, on = ['order_id'] , how = 'inner', indicator = True)

In [23]:
# Check indicator argument to see what type of matches we have
df_merge_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Export

In [26]:
# export data as pickle
df_merge_large.to_pickle(os.path.join(path, '02_data' , '02.02_Prepared Data' , '4.6_orders_products_combined.pkl'))