# 4.9_Task_Intro to Data Visualization with Python_Part_1

## Contents
### Importing Libraries
### Importing Data
### Path to Storage
### Part 1
#### Task 1
#### Task 2
#### Task 3
#### Task 4
#### Task 5
#### Task 6
#### Task 7
#### Task 8
##### Exporting Data
#### Task 9

### Importing Libraries

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### Path to Storage

In [4]:
# Path to storage location
path = r'C:\Users\ihs10539\Achievement 4 Project'

### Importing Data

In [5]:
# import new customer csv
df_custs = pd.read_csv(os.path.join(path, '02_Data', '02.01_Original Data', 'customers.csv'))

## Part 1

### Task 1

In [8]:
# Done

### Task 2

In [10]:
# Done
# Named: 4.9_Task_Intro to Data Visualization with Python_Part_1

### Task 3

In [12]:
# initial review of new data set
df_custs.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [13]:
# checking shape
df_custs.shape

(206209, 10)

In [14]:
# collecting data types
df_custs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [15]:
# checking basic analysis via dexcribe
df_custs.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

### Task 4

In [17]:
# Rename First Name as first_name
df_custs.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [18]:
# Rename Surnam as last_name
df_custs.rename(columns = {'Surnam' : 'last_name'}, inplace = True)

In [19]:
# Rename Gender as gender
df_custs.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [20]:
# Rename STATE as state
df_custs.rename(columns = {'STATE' : 'state'}, inplace = True)

In [21]:
# Rename Age as age
df_custs.rename(columns = {'Age' : 'age'}, inplace = True)

In [22]:
# Rename fam_status as marital_status
df_custs.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [23]:
# Checking
df_custs.columns

Index(['user_id', 'first_name', 'last_name', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'marital_status', 'income'],
      dtype='object')

### Task 5

In [25]:
# Checking missing values
df_custs.isnull().sum()

user_id               0
first_name        11259
last_name             0
gender                0
state                 0
age                   0
date_joined           0
n_dependants          0
marital_status        0
income                0
dtype: int64

All the missing values are in the first_name column but since it isn't vital for analysis it can be ignored.

In [27]:
# Checking duplicates
df_custs_dups = df_custs[df_custs.duplicated()]

In [28]:
df_custs_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, n_dependants, marital_status, income]
Index: []

No duplicates

In [30]:
# Checking mixed-type
df_custs.dtypes

user_id            int64
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [31]:
for col in df_custs.columns.tolist():
  mixed = (df_custs[[col]].map(type) != df_custs[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_custs[mixed]) > 0:
    print (col)

first_name

first_name has mixed data that needs to be addressed.

In [33]:
# address string data type to first name
df_custs['first_name'] = df_custs['first_name'].astype('str')

In [34]:
# Let's check again the data type
df_custs.dtypes

user_id            int64
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [35]:
# Let's check again the mixed data-type
for col in df_custs.columns.tolist():
  mixed = (df_custs[[col]].map(type) != df_custs[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_custs[mixed]) > 0:
    print (col)

There is no longer mixed data so should be good to proceed.

### Task 6

In [38]:
# import most recent version of orders_products dataframe
df_ords_prods_custs_merge = pd.read_pickle(os.path.join(path, '02_Data', '02.02_Prepared Data', '4.9_orders_products_visualized.pkl'))

In [39]:
# Checking data type
df_ords_prods_custs_merge.dtypes

Unnamed: 0_x                        int64
order_id                            int64
user_id                             int64
eval_set                  string[pyarrow]
order_number                        int64
orders_day_of_week                  int64
order_hour_of_day                   int64
days_since_prior_order            float64
product_id                          int64
add_to_cart_order                   int64
reordered                           int64
_merge                           category
Unnamed: 0.1                        int64
Unnamed: 0_y                        int64
product_name                       object
aisle_id                            int64
department_id                       int64
prices                            float64
match                            category
busiest_day                        object
busiest_days                       object
busiest_period_of_day              object
max_order                           int64
loyalty_flag                       object
average_spend                     float64
spender_flag                       object
customer_frequency                float64
frequency_flag                     object
dtype: object

The key columns are user_id and both are the same data type

In [41]:
# Drop the '_merge' column from the previous exercise
df_ords_prods_custs_merge = df_ords_prods_custs_merge.drop(columns=['_merge'])

In [42]:
# Merge ords_prods_merge with customers data
df_ords_prods_custs_merge = df_ords_prods_custs_merge.merge(df_custs, on = 'user_id', indicator = True)

In [43]:
df_ords_prods_custs_merge.shape

(32399732, 37)

### Task 7

In [45]:
# Done

### Task 8

#### Exporting Data

In [48]:
# Export the updated dataframe as a pickle file
df_ords_prods_custs_merge.to_pickle(os.path.join(path, '02_Data','02.02_Prepared Data', '4.9_task_ords_prods_custs_merge.pkl'))

### Task 9

In [50]:
# Done